<h2 id="title">{{t 'app.welcomeToEmber'}}</h2>

{{!-- TODO: wrap this in a modal --}}
{{hub-auth-form intl=intl onSignIn=(action 'signIn') }}

{{intl-test intl=intl text=(t 'app.thisIsPassedAsAProp') }}

{{outlet}}
